* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --scroll-offset: 0;
    --box-offset: 300;
}

body {
    background-color: rgb(26, 25, 25);
    -ms-overflow-style: none;
    /*IE and Edge*/
    scrollbar-width: none;
    /* Firefox*/
}

body::-webkit-scrollbar {
    display: none;
    /*Chrome, Safari and Opera*/
}

#box-one {
    position: relative;
    left: var(--scroll-offset);
    margin-bottom: 500px;
}

#box-two {
    position: relative;
    left: calc(var(--scroll-offset) + 300px);
}


h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
}

.view-port {
    width: 100vw;
    height: 100dvh;
    padding: 3px 5px;
    border: 1px solid white;
}